include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include test3 *.css
recursive-include test3 *.csv
recursive-include test3 *.html
recursive-include test3 *.ico
recursive-include test3 *.js
recursive-include test3 *.json
recursive-include test3 *.md
recursive-include test3 *.png
recursive-include test3 *.py
recursive-include test3 *.svg
recursive-include test3 *.txt
recursive-exclude test3 *.pyc